<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1><%= title %></h1>

    <!-- Display username -->
    <% if(currentUser) { %>
      <p>Logged in as : <b><%= currentUser.username %></b></p>
    <% } %>
    
    <p>Put your secrets here and tell nobody!</p>

    <ul>
      <li>
        <a href="/">Main</a>
      </li>
      <li>
        <a href="/register">Sign Up</a>
      </li>
      <li>
        <a href="/login">Login</a>
      </li>
      <li>
        <a href="/logout">Logout</a>
      </li>
    </ul>

    <footer>
      <h5>Made by William Rivera</h5>
    </footer>
  </body>
</html>